@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-300;
  }

  html.dark body {
    @apply bg-gray-900 text-gray-100;
  }

  /* Global Accessibility Focus Styles */
  :focus-visible {
    @apply outline-none ring-2 ring-nayaysetu ring-offset-2 ring-offset-white dark:ring-offset-gray-900;
  }
}